<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technion.shiftly">
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />
    <application
        android:icon="@mipmap/ic_shiftly"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_shiftly"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.technion.shiftly.LoginActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.technion.shiftly.SignupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.technion.shiftly.GroupCreation1Activity">

        </activity>
        <activity android:name="com.technion.shiftly.GroupCreation2Activity" />
        <activity android:name="com.technion.shiftly.GroupCreation25Activity"></activity>

        <activity
            android:name="com.technion.shiftly.GroupListsActivity"
            android:configChanges="orientation|keyboardHidden" />
        <activity android:name="com.technion.shiftly.ScheduleViewActivity" />
        <activity android:name="com.technion.shiftly.GroupCreation3Activity" />
        <activity android:name="com.technion.shiftly.PresentScheduleActivity" />
        <activity android:name="com.technion.shiftly.AboutActivity" />
        <activity android:name="com.technion.shiftly.OptionsListActivity" />
    </application>
</manifest>